<div [ngClass]="opened ? 'menuOpen' : 'menuClose'">
  <div class="vertical-menu">
    <a [routerLink]="['/patients']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span [ngClass]="opened ? 'aligned-with-icon' : 'hidden'"> Patients </span>
    </a>
    <a [routerLink]="['/patients1']" routerLinkActive="active">
      <mat-icon aria-label="people">schedule</mat-icon>
      <span [ngClass]="opened ? 'aligned-with-icon' : 'hidden'"> Menu 1 </span>
    </a>
    <a [routerLink]="['/patients2']" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span [ngClass]="opened ? 'aligned-with-icon' : 'hidden'"> Menu 2 </span>
    </a>
    <a [routerLink]="['/patients3']" routerLinkActive="active">
      <mat-icon>light</mat-icon>
      <span [ngClass]="opened ? 'aligned-with-icon' : 'hidden'"> Menu 3 </span>
    </a>
  </div>
</div>