.main {
    display: flex;
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    padding: 15px;
    overflow: hidden;
}

.section {
    border: 1px solid;
    height: 80%;
    padding: 15px;
    border-radius: 1em;
}